#       General         #
#########################
.DS_Store
plugin.xml
target/
*.log
grails-platform-ui-*.zip
web-app/WEB-INF
.settings

# IntelliJ Config Files #
#########################
*.iml
.idea/*
!.idea/codeStyleSettings.xml